.lateralIzq{
	position: fixed;
	text-align: center;
	padding: 120px 60px;
	padding-left: 50px;	
	padding-right: 71px;
	float: left;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}

.dentroEstatico{

	text-align: left;
}

.op1{
	color: white;
	/*margin-top: 30px;*/
}

.op1 p{

	margin-top: 50px;
}
h1{
	color: white;
	display: inline-flex;
	background-color: #393187;
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom: 30px;
}

body{

	margin: 0;
}